{% extends 'base.html' %}
{%block content%}
<body>
<div>
  <h1>Jntuk Cgpa Calculator</h1>
  <form action = "\" method = "POST">
  {% csrf_token %} 
  <input class="your_name" type="text" name="your_name" required placeholder="Regno:-ex:18FE1A05E6">
  <br><input class="year" type="number" name="year" min="1" max="3" required placeholder="Enter your your year">
  <br><input class="sem" type="number" name="sem" min="1" max="2" required placeholder="Enter your your sem">


  <p>Select sgpa or cgpa to be calculated</p>
   <input type="radio" id="html" name="type" value="sgpa">
   <label for="html">Sgpa</label><br>
   <input type="radio" id="css" name="type" value="cgpa">
   <label for="css">Cgpa</label><br>
  <br>  





  <br><input class="submit" type="submit" value="OK">
  <h4>Since it is free server it takes some seconds to load please have patience</h4>
</form>
{{error}}
{%endblock%}

</div>
</body>
</html>